@model SchoolManagementSystem.Models.TeacherCourseStudent

<form method="post" asp-controller="TeacherCourseStudent" asp-route-Id="@Model.TeacherCourseStudentId">
    <input asp-for="TeacherCourseStudentId" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit TeacherCourseStudent Information</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TeacherCourseStudentId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TeacherCourseStudentId" class="form-control" />
                        <span asp-validation-for="TeacherCourseStudentId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TeacherCourseStudentSection"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TeacherCourseStudentSection" class="form-control" />
                        <span asp-validation-for="TeacherCourseStudentSection" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="TeacherId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TeacherId" class="form-control" />
                        <span asp-validation-for="TeacherId" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="StudentId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="StudentId" class="form-control" />
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CourseId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CourseId" class="form-control" />
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>


    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}